@import "variables";
@import "mixin";

// <uniquifier>: Use a uniquifier for the class name

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
  }

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.flex-container{
    display: flex;
}

header{
    margin-left: (124/18*1em);
    margin-right: (124/18*1em);
    padding-top: (32/18*1em);
    .flex-container{
        justify-content: space-between;
        align-items: center;
    }
    .number{
        padding-right: (21/18*1em);
        line-height: (21.78/18*1em);
        font-weight: 700;
    }
}

//Slogan
.slogan.container{
    margin-top: (94/18*1em);
}
.slogan.flex-container{
    flex-direction: column;
    align-items:baseline;
    h1{
        font-size: (48/18*1em);
        font-weight: 700;
    }
    p{
        font-size: (24/18*1em);
        font-weight: 400;
        color: #000;
        padding-top: (24/18*1em);
    }
    .buttons{
        padding-top: (48/18*1em);
        padding-bottom: (80/18*1em);
        .btn1{
            @include Button($buttonClr);
            margin-right: (32/18*1em);

        }
        .btn2{
            @include Button(white);
            
        }
    }
}

//photo

.photo{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/image/photo.jpg");
    .phone.flex-container{
        justify-content: flex-end;
    }
    img{
        padding-top: (335/18*1em);
        padding-right: (53/18*1em);
        padding-bottom: (335/18*1em);
    }
}

//principles

.opisanie{
    margin-left: (124/18*1em);
    margin-right: (124/18*1em);
    margin-top: (80/18*1em);
}

.principles.flex-container{
    flex-direction: column;
    h2{
        font-weight: 700;
        font-size: (36/18*1em);
    }
    .threeBut{
        margin-top: (32/18*1em);
        button{
            margin-right: (32/18*1em);
            @include Button($buttonClr);
            &:nth-child(#{3}n){
                margin-right: 0;
            }
        }
    }
}

.description{
    >div{
        flex-direction: column;
        margin-top: (56/18*1em);
        margin-right: (102/18*1em);
        &:nth-child(#{3}n){
            margin-right: 0;
        }
    }
    h3{
        font-weight: 900;
        margin-bottom: 16/18*1em;
    }
    p{
        width: (306/18*1em);
        line-height: (27/18*1em);
    }
}
.examplebtn{
    width: (391/18*1em);
    margin: (22/18*1em) 0 (63/18*1em);
}
.example{
    color: $buttonClr;
    border: 0;
    border-bottom: 1px solid $buttonClr;
    background-color: white;
    font-weight: 400;
    font-size: (24/18*1em);
}
// block with slider.

.primery{
    background-color: #F0EEEE;
    padding-top: (72/18*1em);
    padding-bottom: (85.97/18*1em);
}

.primary.flex-container{
    
    flex-direction: column;
    
    .tekstas.flex-container{
        margin-left: (124/18*1em);
        flex-direction: column;
        p{
            font-weight: 400;
            line-height: (27/18*1em);
            color: #999;
            margin-top: (16/18*1em);
            margin-bottom: (39.81/18*1em);
        }
        h2{
            font-weight: 700;
            font-size: (36/18*1em);
        }
    }
}

.slider{
    .slider.flex-container{
        justify-content: center;
    }
    button{
        height: (556/18*1em);
        border: 0;
    }
    .kvartira{
        width: (988/18*1em);
        height: (556/18*1em);

    }
}

.slideropisanie{
    margin-top: (25.24/18*1em);
    justify-content: center;
    .page{
        width: (39/18*1em);
        line-height: (27/18*1em);
        font-weight: 400;
        margin-right: (63/18*1em);
    }
}

.textSlider{
    line-height: (27/18*1em);
    max-width:(886/18*1em);
}

.numbers{
    justify-content: center;
    >.flex-container{
        flex-direction: column;
        margin-top: (15.6/18*1em);
        margin-right: (66.65/18*1em);
        &:nth-child(#{4}n){
            margin-right: 0;
        }
    }
}

//banks
.banks{
    margin-left: (124/18*1em);
    .textLink{
        margin-top: (13/18*1em);
        margin-bottom: (80/18*1em);
    }
    .textLink a{
        text-decoration: none;
        font-size: (24/18*1em);
        color: $buttonClr;
        border-bottom: 1px solid $buttonClr;
    }
}

.banksMain{
    flex-direction: column;
    margin-top: (80/18*1em);
    h2{
        font-weight: 700;
        font-size: (36/18*1em);
        line-height: 43.57/18*1em;
        color: #191919;
    }
}

.arguments{
    //margin-top: (32/18*1em);
    .text{
        flex-direction: column;
        width: (486/18*1em);
        margin-right: (134/18*1em);
        h3{
          font-weight: 400;
          line-height: (43.57/18*1em);
          color: #191919;
          font-size: (36/18*1em);  
        }
    }
}

//grid

.grid-container{
    margin: 0 (124/18*1em);
    padding-bottom: (75.92/18*1em);
    .text.flex-container{
        flex-direction: column;
        .text2{
            color: #999;
            line-height: (27/18*1em);
        }
    }
    .grid__.flex-container{
        
        flex-direction: column;
        img{
            width: 100%;
            height: auto;
        }
        .price.flex-container{
            padding-top: (23.74/18*1em);
            padding-bottom: (20/18*1em);
            justify-content: space-between;
            p{
                font-size: (24/18*1em);
                color: #191919;
                font-weight: 400;
            }

        }
    }
}

.container__.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: (102/18*1em);
    row-gap: (69.73/18*1em);
    .linkText{
        text-decoration: none;
        margin-top: (20/18*1em);
        width: (200/18*1em);
        color: $buttonClr;
        border-bottom: 1px solid $buttonClr;
    }
}

//why

.container.q{
    padding: (78/18*1em) 0;
    padding-left: (124/18*1em);
    background-color: #F0EEEE;
    .container__.qoute>a{
        text-decoration: none;
        font-weight: 700;
        font-size: (36/18*1em);
        color: $buttonClr;
        border-bottom: 1px solid $buttonClr;

    }
}

//video

.container.clients{
    padding-left: (124/18*1em);
    padding-top: (80/18*1em);
    padding-bottom: (80/18*1em);
    .clients.flex-container{
        flex-direction: column;
        .title{
            margin-bottom: (16/18*1em);
            font-weight: 700;
            font-size: (36/18*1em);
            color:#191919;
        }
        .textTitle{
            color: #999;
            font-weight: 400;
            font-size: 1em;
            margin-bottom: (47.81/18*1em);
        }
        .video.flex-container{
            justify-content: center;
            img{

                margin-right: (32/18*1em);
                &:nth-child(#{2}n){
                    margin-right: 0;
                }
            }
        }

        .container__.qoute{
            margin-top: (54/18*1em);
        }
        .container__.qoute>a{
            text-decoration: none;
            font-weight: 400;
            font-size: (24/18*1em);
            color: $buttonClr;
            border-bottom: 1px solid $buttonClr;
    
        }
    }

}

//footer
.footer{
    background-color: #191919;
}
.footer-container{
    padding-top: (83/18*1em);
    padding-left: (124/18*1em);
    .footer.flex-container{
        flex-direction: column;
        p.workhours{
            font-weight: 400;
            font-size: 1em;
            color: #fff;
            margin-bottom: (16.22/18*1em);
        }
        p.number{
            font-weight: 700;
            font-size: 2em;
            color: #fff;
            
        }
        p.email{
            margin-top: 2.2222rem;
            margin-bottom: (106/18*1rem);
            font-size: (24/18*1em);
            color: $buttonClr;
        }
    }
}