* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  margin-left: 6.8888888889em;
  margin-right: 6.8888888889em;
  padding-top: 1.7777777778em;
}
header .flex-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .number {
  padding-right: 1.1666666667em;
  line-height: 1.21em;
  font-weight: 700;
}

.slogan.container {
  margin-top: 5.2222222222em;
}

.slogan.flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.slogan.flex-container h1 {
  font-size: 2.6666666667em;
  font-weight: 700;
}
.slogan.flex-container p {
  font-size: 1.3333333333em;
  font-weight: 400;
  color: #000;
  padding-top: 1.3333333333em;
}
.slogan.flex-container .buttons {
  padding-top: 2.6666666667em;
  padding-bottom: 4.4444444444em;
}
.slogan.flex-container .buttons .btn1 {
  width: 15.2222222222em;
  height: 3.1111111111em;
  border: 0;
  background-color: #29ABE2;
  color: white;
  margin-right: 1.7777777778em;
}
.slogan.flex-container .buttons .btn1:hover {
  background-color: #1a8dbe;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slogan.flex-container .buttons .btn2 {
  width: 15.2222222222em;
  height: 3.1111111111em;
  border: 1px solid #29ABE2;
  color: #29ABE2;
  background-color: white;
}
.slogan.flex-container .buttons .btn2:hover {
  border: 1px solid #177da8;
  color: #177da8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.photo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/image/photo.jpg");
}
.photo .phone.flex-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.photo img {
  padding-top: 18.6111111111em;
  padding-right: 2.9444444444em;
  padding-bottom: 18.6111111111em;
}

.opisanie {
  margin-left: 6.8888888889em;
  margin-right: 6.8888888889em;
  margin-top: 4.4444444444em;
}

.principles.flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.principles.flex-container h2 {
  font-weight: 700;
  font-size: 2em;
}
.principles.flex-container .threeBut {
  margin-top: 1.7777777778em;
}
.principles.flex-container .threeBut button {
  margin-right: 1.7777777778em;
  width: 15.2222222222em;
  height: 3.1111111111em;
  border: 0;
  background-color: #29ABE2;
  color: white;
}
.principles.flex-container .threeBut button:hover {
  background-color: #1a8dbe;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.principles.flex-container .threeBut button:nth-child(3n) {
  margin-right: 0;
}

.description > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.1111111111em;
  margin-right: 5.6666666667em;
}
.description > div:nth-child(3n) {
  margin-right: 0;
}
.description h3 {
  font-weight: 900;
  margin-bottom: 0.8888888889em;
}
.description p {
  width: 17em;
  line-height: 1.5em;
}

.examplebtn {
  width: 21.7222222222em;
  margin: 1.2222222222em 0 3.5em;
}

.example {
  color: #29ABE2;
  border: 0;
  border-bottom: 1px solid #29ABE2;
  background-color: white;
  font-weight: 400;
  font-size: 1.3333333333em;
}

.primery {
  background-color: #F0EEEE;
  padding-top: 4em;
  padding-bottom: 4.7761111111em;
}

.primary.flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.primary.flex-container .tekstas.flex-container {
  margin-left: 6.8888888889em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.primary.flex-container .tekstas.flex-container p {
  font-weight: 400;
  line-height: 1.5em;
  color: #999;
  margin-top: 0.8888888889em;
  margin-bottom: 2.2116666667em;
}
.primary.flex-container .tekstas.flex-container h2 {
  font-weight: 700;
  font-size: 2em;
}

.slider .slider.flex-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider button {
  height: 30.8888888889em;
  border: 0;
}
.slider .kvartira {
  width: 54.8888888889em;
  height: 30.8888888889em;
}

.slideropisanie {
  margin-top: 1.4022222222em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slideropisanie .page {
  width: 2.1666666667em;
  line-height: 1.5em;
  font-weight: 400;
  margin-right: 3.5em;
}

.textSlider {
  line-height: 1.5em;
  max-width: 49.2222222222em;
}

.numbers {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.numbers > .flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.8666666667em;
  margin-right: 3.7027777778em;
}
.numbers > .flex-container:nth-child(4n) {
  margin-right: 0;
}

.banks {
  margin-left: 6.8888888889em;
}
.banks .textLink {
  margin-top: 0.7222222222em;
  margin-bottom: 4.4444444444em;
}
.banks .textLink a {
  text-decoration: none;
  font-size: 1.3333333333em;
  color: #29ABE2;
  border-bottom: 1px solid #29ABE2;
}

.banksMain {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4.4444444444em;
}
.banksMain h2 {
  font-weight: 700;
  font-size: 2em;
  line-height: 2.4205555556em;
  color: #191919;
}

.arguments .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27em;
  margin-right: 7.4444444444em;
}
.arguments .text h3 {
  font-weight: 400;
  line-height: 2.4205555556em;
  color: #191919;
  font-size: 2em;
}